<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.MybatisMapper">
    <select id="mySelect" resultType="com.example.mybatis.Student">
          SELECT StudentId,Name,age FROM `student`
    </select>
</mapper>