<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.demo.test.TestMapper">

    <select id="querySang" resultType="java.lang.String">
        SELECT
            username
        FROM
            `sys_user`
        WHERE
            id =1
    </select>

    <select id="queryTest" resultType="java.lang.String">
        SELECT username FROM `base_user` WHERE id = 1
    </select>
</mapper>